h1 Welcome to Code Pairs

== user_signed_in?
== student_signed_in?
== expert_signed_in?
== signed_in?

== session["warden.user.user.key"]
== User.find(session["warden.user.user.key"][0][0])
== session["warden.user.student.key"]
== session["warden.user.student.key"].inspect
#== User.find(session["warden.user.student.key"][0][0])
#== session["warden.user.expert.key"]
#== User.find(session["warden.user.expert.key"][0][0])


/div == current_user.email



